.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logoText {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: var(--text-primary);
  font-family: var(--font-press-start-2p);
}
